version: '3.8'
services:
  piston:
    image: ghcr.io/engineer-man/piston
    ports:
      - "2000:2000"
    restart: always
    privileged: true
    volumes:
      - piston_data:/piston
    environment:
      - PUID=1000
      - PGID=1000

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  piston_data:
  mongo_data:
    #     - "3000:3000"
    #   environment:
    #     PISTON_URL: http://piston:2000
